*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 34, 34);
  
    
   
   
   }



h1 {
    color: aqua;
    position: absolute;
    margin-top: -620PX;
    margin-left: -80px;
    font-weight: 500;
    
}


  
.container{
   display: flex;
   justify-content: center;
   margin-left: -35px;
}


.container:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
   
}

.itens {
    width: 100px;
    height: 100px;
    background-color: black;
    margin-top: -500px;
    border-radius: 20px;
    transition: .35s;
    cursor: pointer;
    margin-left: 20px;
}




.pagina{
  display: flex;
    flex-direction: column;
      align-items: center;
    justify-content: center;
    font-family: 'poppins',sans-serif;
text-align: center;




}


.icone{
font-size: 18em;
color: rgb(21, 24, 24);
margin-top: 200px;
}



