*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
 background-color: rgb(31, 34, 34);
 background-image: url(fundo.png);
 background-size: cover;
 background-repeat:no-repeat;
 background-position:center;



}

.logo {
 
  background-color: rgb(3, 3, 3);
  position: absolute;
  width: 70px;
  height: 100px;
  

}
.imagem {
  width: 100px;
  height: 250px;
  position: absolute;
  margin-left: -12px;
}

.imagem img {
  width: 100%
}

.idioma{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 120px;
  
}

.eg-pt{
  color: aqua;
  position: absolute;
  margin-top: 30%;
  font-family: 'poppins',sans-serif;
  font-size: 90%;
  margin-left: 1px;
  
}

.nav{
  width: 70px;
  height: 700px;
  background-color: rgb(22, 24, 24) ;
 display: flex;
flex-direction: column;
  align-items: center;
justify-content: center;
 

}

.texto {
 margin: 50px;
position: absolute;

margin-bottom: 50px;
}














.elemento{
  
  color: rgb(88, 97, 97); 
  margin-top: 90%;
  height: 5px;
  font-size: 1.3em;
  transition: color 0.3s;
  cursor: pointer;
  
 
}
.elemento:hover{
  color: rgb(0, 255, 255);
}

.icone{
  
  color: rgb(88, 97, 97); 
 
  
  font-size: 0.6em;
  transition: color 0.3s;
  cursor: pointer;
  position: absolute;
  margin-top: -140px;
  display: flex;
 flex-direction: column; 
 width: 30px;
 margin-left: 29px;

  

 
  
  
  
 
}
.icone:hover{
  color: rgb(0, 255, 255);
}


.texto-principal{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
}


.texto-lugar{
    
  width: 700px;
  height: 300px;
  margin-top: -650px;
  margin-left:150px;
  font-family: 'poppins',sans-serif;
  font-size: 30px;
  color: white;
}

.inove{
   color: rgba(0, 255, 255, 0.788);
 
  margin-top: -550px;
  margin-left:150px;
  border-radius: 5%;
  font-size: 2.1em;
  display: flex;
  position: absolute;
  
  

  
}

  .p-inove{
    font-family: 'poppins',sans-serif;
    font-size: 30%;
    font-weight: 300;
margin-top: 4px;

  }


  .logo-l{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    


.l{
    
  width: 400px;
  height: 400x;
  margin-top: -650px;
  margin-left:1000px;
  font-size: 30px;
  
}















.active {
  background-color:rgb(17, 19, 19); /* Cor quando ativo */
  color: rgb(0, 255, 255);
}

.inactive {
  background-color:  rgb(22, 24, 24); /* Cor quando inativo */
  color: rgb(62, 67, 68);
}













































.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}



























    
      

